.App {
  text-align: center;
}

.App button {
  background-color: aliceblue;
  color: #e9eb599e;
    margin-top: 30px;
    font-size: 30px;
    font-family: cursive;
    padding: 10px 35px;
}
.App button a {
  text-decoration: none;
  color: purple;
}

.App button:hover {
  background-color: #6b01969e;
    color: rgba(252, 5, 252, 0.822);
    cursor: pointer;
    transition: .3s;
}


